.nav_bar {
    width: 100%;
    height: auto;

    border-bottom: 1px solid #E5E5E5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 1px 2px 9px rgb(219, 219, 219);
}

.nav_bar > .div_logo > .logo_img {
    width: 75%;
    height: auto;

    margin-bottom: 4px;
}

.nav_bar > .div_logo > .logo_img:hover {

    cursor: pointer;
}
@media(min-width: 200px){

    .nav_bar > .div_logo {
        width: 34%;
    }

    .wid-icon-menu {
        width: 30px;
        height: 30px;
    }


}

@media(min-width: 510px){

    .nav_bar > .div_logo {
        width: 26%;
    }

    .wid-icon-menu {
        width: 40px;
        height: 40px;
    }


}

@media(min-width: 764px){

    .nav_bar > .div_logo {
        width: 20%;
    }

}

@media(min-width: 1000px){

    .nav_bar > .div_logo {
        width: 17%;
    }

    .wid-icon-menu {
        width: 45px;
        height: 45px;
    }


}

.nav_bar > .icon_menu {
    color: #738E38;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn_menu {
    width: 100%;

    background-color: white;

    border: none;

    color: #738E38;
}
