.card-detalhes-rifa {

    border: #738E38;
    
    border-radius: 10px;

    border: 1px solid  #738E38;
}

.text-detalhes-bilhete {
    font-size: 13px;
    text-align: center;
}

.card-data-raffle {
    width: 80%;

    border: 1px solid #738E38;
    
    margin-bottom: 10px;

    border-radius: 10px;
}

.div-link {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text-link {

    width: 70%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-copy {
    margin-left: 5px;
    margin-right: 5px;
}

:root {
    --toastify-color-success: #738E38;
}

.div-link  > svg {

    width: 16px;
    height: 16px;

}

.div-link  > p {

    text-align: center;

}


@media(min-width: 576px) {

    .text-detalhes-bilhete {
        font-size: 16px;
    }

}

@media(min-width: 768px) {

    .div-title-raffle > h3 {

        font-size: 36px;

    }

    .div-link  > svg {

        width: 24px;
        height: 24px;
    
    }

    .text-detalhes-bilhete {
        font-size: 20px;
    }

    .div-link  > p {

        font-size: 15px;
        text-align: center;
    
    }    

    .text-link-copie {
        font-size: 15px;
    }

}

@media(min-width: 1100px) {

    .text-detalhes-bilhete {
        font-size: 25px;
    }

    .text-promo {
        font-size: 40px;
    }

    .text_promo_cotas {
        font-size: 20px;
    }

    .card-data-raffle {

        

    }

}
