.div-caps-main {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.div-text-main {
    width: 70%;
    height: auto;

    text-align: center;

}


@media(min-width: 200px){
    .div-text-main {

        margin-top: 17%;

    }

    .porque {

        margin: 10%;
        
    }

}

@media(min-width: 576px){

    .div-text-main {
        margin-top: 10%;

    }

    .porque {

        font-size: 30px;
        
    }
    
    .title-marketing {
        font-size: 47px;
    }

    .text-marketing > p {
        font-size: 20px;
    }
}

@media(min-width: 768px){

    .div-text-main> h2 {
        
        font-size: 40px;

    }

    .div-text-main> p {
        
        font-size: 20px;

    }

    .porque {

        font-size: 40px;
        
    }

}

@media(min-width: 1000px){

    .div-text-main> h2 {
        
        font-size: 57px;

    }

    .div-text-main> p {
        
        font-size: 27px;

    }

    .porque {

        font-size: 57px;
        
    }

    .title-marketing {
        font-size: 77px;
    }

    .text-marketing > p {
        font-size: 26px;
    }    

}

.div-text-main-hiden

.text-bottom-title {

    padding-top: 10px;
    font-weight: lighter;
}

/* animação*/

.hiden-body {
    animation: hiden_body 1s 1 6ms forwards normal;
}

@keyframes hiden_body {
    0% {
        display: block;
        width: 100%;
        opacity: 1;
    }
   
    50% {
        opacity: 0;
    }

    51% {
        display: none;
    }

    100% {
        display: none;
    }
}

.animate-old {
    animation: animate-old 2s 1 6ms forwards normal;
}

@keyframes animate-old {
    0% {
        display: block;
        opacity: 0;
    }
   
    100% {
        display: block;
        opacity: 1;
    }
}

.div-green {

    height: 50vh;

    color: white;
    background-color: #738E38;

    display: flex;
    justify-content: center;

    flex-direction: column;

    margin-bottom: 8%;
}

.div-green > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-div-green {

    width: 60%;
    background-color: white;

    border: none;
    border-radius: 20px;

    font-size: 14px;
    font-weight: 500;

    padding: 5px;
}

@media(min-width: 576px) {

    .div-green > div > h2 {
        font-size: 33px;
    }

    .btn-div-green {
        width: 40%;
        padding: 10px;
        font-size: 18px;
    }

}

@media(min-width: 1000px) {

    .div-green > div > h2 {
        font-size: 60px;
    }

    .div-green > div > p {
        font-size: 26px;
    }

    .btn-div-green {
        width: 50%;
        padding: 15px;
        font-size: 20px;
    }

}
