.color-text {
    color: #707474;
    margin-bottom: 15%;
}

.wid {
    width: 90%;
}

.teste-teste {
    width: 88%;

    padding-left: 7px;

    margin-top: 3%;
}
.text-login {
    margin-bottom: 10%;
}

@media(min-width: 768px) {
    .text-login {
        margin-bottom: 7%;
        font-size: 17px;
    }

    .input_login {
        margin-bottom: 5%;
    }

    .esqueceu-senha {
        font-size: 17px;
    }
    
}
@media(min-width: 1000px) {
    .text-login {
        margin-bottom: 4%;
        font-size: 20px;
    }

    .esqueceu-senha {
        font-size: 23px;
    }

    
}