.text-rifa {
    font-size: 14px;
}

.container-borda {
    border: 1px solid #cadda2;
    border-radius: 7px;
}

.check-options {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 6%;
    padding-left: 10%;
    padding-bottom: 10%;

}

